ul {
list-style: none;
margin: 0;
padding: 0;
}

h2 {
margin: 0;
}

h3 {
  margin: 0;
}

.container-main {
padding-top: 30px;
max-width: 1170px;
margin: 0 auto;
}

p {
  margin: 0;
  padding: 0;
}

/* Header */

.header {
max-height: 185px;
}

.logo-tel-LK {
display: flex;
align-items: center;
padding-right: 12px;
margin-bottom: 26px;
}

.logo {
margin-right: 25px;
}

.lagoona-tel {
margin-right: auto;
font-family: "Muller";
font-size: 22px;
font-weight: 700;
line-height: 32px;
color: #666666;
}



.lk {
padding-left: 30px;
font-family: "Muller";
background-image: url(../img/keyboard_tab.png);
background-repeat: no-repeat;
background-position: left center;
font-size: 16px;
line-height: 1;
font-weight: normal;
color: #cc9933;
}


.nav {
  display: flex;
  align-items: center;
  margin-bottom: 74px;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  background-color: #ffffff;
}

.nav-list {
  display: flex; 
  
}

.nav-item {
font-family: "Muller";
font-size: 16px;
line-height: 32px;
color: #333333;

}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.search-group {
  position: relative;
  margin-left: auto;
  width: 315px;
  margin-right: 40px;
}

.input-search {
  background: #f1f1f1 no-repeat;
  border: none;
  outline: none;
  border-radius: 15px;
  width: 355px;
  min-height: 48px;
  padding-left: 21px;
  padding-right: 20px;
  margin-left: auto;
  outline: none;
}

.btn-search {
  position: absolute;
  bottom: 24px;
  left: 310px;
  transform: translate(0, 50%);
  background: url(../img/search.png) no-repeat;
  width: 22px;
  height: 22px;
  border: none;  
  outline: none;
  cursor: pointer;
}


input[placeholder*="Поиск"] {
  font-family: "Muller";
  font-size: 14px;
  line-height: 32px;
  font-weight: normal;
  color: #bebebe;
  border: none;
  }



/* Hero */

.hero-container {
  display: flex;
  margin-bottom: 68px;  
}

.section-heading-hero {
  /* display: block; */
  font-family: "Muller";
  font-size: 40px;
  line-height: 32px;
  font-weight: normal;  
  margin-top: 0;
  margin-bottom: 25px;
  margin-left: 42px;
}

.book {
  display: flex;
  flex-direction: column;
  margin-right: 55px;  
  max-width: 550px;
}

.input-section-hero {
  outline: none;
  margin-bottom: 24px;
  max-width: 520px; 
  font-family: Muller;
  font-style: 16px;
  line-height: 32px;
  color: #999999;
  border: 1px solid #ffffff;
  border-radius: 12px;
  padding-left: 20px;
  width: 520px;
  height: 70px;
  
}

.btn-section-hero {
  margin-right: 25px;
  padding: 34px 30px;
  border: 1px solid #cc9933;
  border-radius: 12px;
  background-color: #cc9933;
  color: #ffffff;
  font-family: "Muller";
  font-size: 16px;
  line-height: 1px;
  cursor: pointer;
}

.btn-link-section-hero {
  letter-spacing: 0.5px;
  color: #cc9933;
}

.hero span:last-child {
  font-family: "Muller";
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}

.specoffer {
  display: flex;
  flex-direction: column;
    
}

.specoffer-box {
  background-image: url(../img/22.png);
  width: 595px;
  height: 540px;
}

.section-hero-heading-card {
  margin: 0;
  font-family: "Muller";
  font-size: 66px;
  line-height: 58px;
  font-weight: bold;
  padding-top: 268px;
  padding-bottom: 32px;
  padding-left: 39px;
  color: #ffffff;  
  
}

.section-hero-card-description span {
  font-family: "Muller";
  font-size: 35px;
  line-height: 32px; 
  color: #999999;
  padding-left: 39px;
  padding-right: 36px;
}
.section-hero-card-description a {
  font-family: "Muller";
  font-size: 16px;
  line-height: 32px;
  font-weight:normal;
  color: #cc9933;
  background: url(../img/vector1.png) no-repeat;
  background-position: right;
  padding-right: 16px;
}

/* Description */

.section-heading-about {
  font-family: "Muller";
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin-left: 42px;
  margin-bottom: 10px;
}

.description {
  margin-top: 0;
  margin-bottom: 56px;
  margin-left: 45px;
  max-width: 890px;
  height: auto;  
  font-family: "Muller";
  font-size: 16px;
  line-height: 32px;
  color: #666666;
}

.section-heading-service {
  font-family: "Muller";
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin-left: 42px;
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 70px;
 
 }

.sevices-list-card {
  width: 572px;
  min-height: 325px;
  padding-left: 44px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  
  }

.services-list-link {
  font-family: "Muller";
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  color: #cc9933;
  background: url(../img/vector1.png) no-repeat;
  padding-right: 20px;
  background-position: right;
 }

 .sevices-list-card p {
   font-family: "Muller";
   font-size: 16px;
   line-height: 32px;
   font-weight: normal;
   padding-top: 2px;
 }

.sevices-list-card-description {
  padding-top: 198px;
  font-family: "Muller";
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  color: #333333;
}

.sevices-list-card:nth-child(1) {
  background: url(../img/sevices-list-card-1.png) no-repeat;  
  background-color: #ffffff;
  }

.sevices-list-card:nth-child(2) {
  position: relative;
  background: url(../img/sevices-list-card-2.png) no-repeat;
  background-color: #ffffff;
}

.sevices-list-card:nth-child(3) {
  position: relative;
  background: url(../img/sevices-list-card-3.png) no-repeat;
  background-color: #ffffff;
}

.sevices-list-card:nth-child(4) {
  position: relative;
  background: url(../img/sevices-list-card-4.png) no-repeat;
  background-color: #ffffff;
}


/* Advantages */

.section-heading-advantages {
  font-family: "Muller";
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin-left: 42px;
  margin-bottom: 18px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 44px;
}

.advantages-list-card {
  max-width: 275px;
  border: 1px solid #ffffff;
  border-radius: 12px;
  font-family: "Muller";
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  padding: 40px 44px 32px 44px;
  margin-bottom: 24px;
  }

  .advantages-list-card p {
    padding-top: 75px;
  }

  .advantages-list li:nth-child(1) {
    background: url(../img/bathtub.png) no-repeat;
    background-color: #ffffff;
    background-position-x: 44px;
    background-position-y: 47px;
  }

  .advantages-list li:nth-child(2) {
    background: url(../img/hanger.png) no-repeat;
    background-color: #ffffff;
    background-position-x: 44px;
    background-position-y: 47px;
  }

  .advantages-list li:nth-child(2) {
    background: url(../img/hanger.png) no-repeat;
    background-color: #ffffff;
    background-position-x: 44px;
    background-position-y: 47px;
  }

  .advantages-list li:nth-child(3) {
    background: url(../img/heating.png) no-repeat;
    background-color: #ffffff;
    background-position-x: 44px;
    background-position-y: 47px;
  }

  .advantages-list li:nth-child(4) {
    background: url(../img/hotel-key.png) no-repeat;
    background-color: #ffffff;
    background-position-x: 44px;
    background-position-y: 47px;
  }

  .advantages-list li:nth-child(5) {
    background: url(../img/parking.png) no-repeat;
    background-color: #ffffff;
    background-position-x: 44px;
    background-position-y: 47px;
  }

  .advantages-list li:nth-child(6) {
    background: url(../img/reception.png) no-repeat;
    background-color: #ffffff;
    background-position-x: 44px;
    background-position-y: 47px;
  }

  .advantages-list li:nth-child(7) {
    background: url(../img/security-box.png) no-repeat;
    background-color: #ffffff;
    background-position-x: 44px;
    background-position-y: 47px;
  }

  .advantages-list li:nth-child(8) {
    background: url(../img/swimming-pool.png) no-repeat;
    background-color: #ffffff;
    background-position-x: 44px;
    background-position-y: 44px;
  }


/* Location */


.section-heading-location {
  font-family: "Muller";
  font-size: 40px;
  font-weight: normal;
  line-height: 1;
  margin-left: 42px;
  margin-bottom: 20px;
}

.location-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.location-list-card {
  width: 373px;
  min-height: 441px;
  background: #ffffff;
  border-radius: 12px;
  margin-bottom: 25px;
}

.location-list-card-description {
  padding: 28px 44px 43px;
}

.location-list-card-price-rating {
  display: flex;  
  justify-content: space-between; 
}

.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.price {
  font-family: Muller;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
}

.price span:first-child {
  color: #969696;
}

.price span:last-of-type {
  font-family: Muller;
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
}

.rating {
  transform: translate(-8px, 0);
}

.hotel-heading {
  font-family: Muller;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
  color: #333;
}

.hotel-location {
  font-family: Muller;
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  color: #999;
  margin-bottom: 10px;
}

.section-location-btn {
  border-radius: 12px;
  border: 1px solid #cc9933;
  background: #fff;
  font-family: Muller;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  padding: 12px 18px;
  color: #cc9933;
  cursor: pointer;
}

.location-list-more {
  background: url(../img/9.png) no-repeat;
  width: 373px;
  min-height: 441px;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 363px 32px 49px 35px;
}

.location-list-more a {
  background: url(../img/vector2.png) no-repeat;
  background-position: right;
  position: relative;
  font-family: Muller;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  padding-right: 22px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Muller', sans-serif;
  background-color: #f1f1f1;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';    
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
      url('../fonts/MullerLight.woff') format('woff');        
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';    
  src: url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');        
  font-display: swap;
  font-weight: bold;
  font-style: normal;
}
















